:root {
  --primary-color: #f8bb15;
  --primary-color-light: #f9c22c;
  --primary-color-dark: #ebae07;
  --success-color: #22c55e;
  --gray-color-50: #f8fafc;
  --gray-color-100: #f1f5f9;
  --gray-color-200: #e2e8f0;
  --gray-color-300: #cbd5e1;
  --gray-color-400: #94a3b8;
  --gray-color-500: #64748b;
  --gray-color-600: #475569;
  --gray-color-700: #334155;
  --gray-color-800: #1e293b;
  --gray-color-900: #0f172a;
  --gray-color-950: #020617;
  --spacing-0: 0;
  --spacing-0-5: 0.125rem;
  --spacing-px: 1px;
  --spacing-1:	0.25rem;
  --spacing-1-5: 0.375rem;
  --spacing-2: 0.5rem;	
  --spacing-2-5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3-5: 0.875rem;
  --spacing-4	:1rem;	
  --spacing-5	:1.25rem;
  --spacing-6	:1.5rem	;
  --spacing-7	:1.75rem;
  --spacing-8	:2rem;
  --spacing-9	:2.25rem;
  --spacing-10:	2.5rem;
  --spacing-11:	2.75rem;
  --spacing-12:	3rem;
  --spacing-14:	3.5rem;
  --spacing-16:	4rem;
  --spacing-20:	5rem;
  --spacing-24:	6rem;
  --spacing-28:	7rem;
  --spacing-32:	8rem;
  --spacing-36:	9rem;
  --spacing-40:	10rem;
  --spacing-44:	11rem;
  --spacing-48:	12rem;
  --spacing-52:	13rem;
  --spacing-56:	14rem;
  --spacing-60:	15rem;
  --spacing-64:	16rem;
  --spacing-72:	18rem;
  --spacing-80:	20rem;
  --spacing-96:	24rem;
  --text-xs-font-size: 0.75rem;
  --text-xs-line-height: 1rem;
  --text-sm-font-size: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-base-font-size: 1rem;
  --text-base-line-height: 1.5rem;
  --text-lg-font-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-font-size: 1.25rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl-font-size: 1.5rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-font-size: 1.875rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-font-size: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl-font-size: 3rem;
  --text-5xl-line-height: 1;
  --text-6xl-font-size: 3.75rem;
  --text-6xl-line-height: 1;
  --text-7xl-font-size: 4.5rem;
  --text-7xl-line-height: 1;
  --text-8xl-font-size: 6rem;
  --text-8xl-line-height: 1;
  --text-9xl-font-size: 8rem;
  --text-9xl-line-height: 1;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --gutter: var(--spacing-4);
  --heading-font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --default-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

@custom-media --screen-sm-up (min-width: 640px);
@custom-media --screen-md-up (min-width: 768px);
@custom-media --screen-lg-up (min-width: 1024px);
@custom-media --screen-xl-up (min-width: 1536px);